.gradle
/frontend/node
/frontend/node_modules
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/out
/build
src/app/breadcumb/
src/app/left-menu/
src/app/relay-list/
src/app/stativ/
