server:
  port: 8082
spring:
  application:
    name: relay-service
  datasource:
    url: jdbc:postgresql://localhost:5432/relay-service
#    url: jdbc:postgresql://postgresql:5432/postgresql
    username: sample_user
    password: example
  jpa:
    database: postgresql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  #    database-platform:
  flyway:
    sql-migration-prefix: V
    repeatable-sql-migration-prefix: R
    sql-migration-separator: __
    sql-migration-suffixes: .sql
    enabled: true
    user: postgres
    password: Qwerty12345
#    url: jdbc:postgresql://postgresql:5432/postgresql
    url: jdbc:postgresql://localhost:5432/relay-service
    baseline-on-migrate: true
  threads:
    virtual:
      enabled: true
logging:
  file:
    name: logs/relay-service.log
  level:
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.orm.jdbc.bind: TRACE

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
#      enabled: true
      show-components: always
      show-details: always
      probes:
        enabled: true
      access: read_only
    info:
#      enabled: true
      access: read_only
    metrics:
#      enabled: true
      access: read_only
    prometheus:
#      enabled: true
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true
