spring:
  profiles:
    active: dev
  threads:
    virtual:
      enabled: true
  application:
    name: relay-store-service
  mvc:
    problemdetails:
      enabled: true
  cloud:
    kubernetes:
      secrets:
        enabled: false
        paths:
          - /etc/secretspot
        enableApi: false
  jackson:
    serialization:
      indent_output: true

management:
  endpoints:
    web:
      exposure:
        include: metrics, prometheus, health, info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
