server:
  port: 8082
spring:
  application:
    name: relay-store-service
  datasource:
    url: jdbc:postgresql://localhost:5432/relay-service
    username: ${DB_USERNAME:sample_user}
    password: ${DB_PASSWORD:example}
  jpa:
    database: postgresql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    sql-migration-prefix: V
    repeatable-sql-migration-prefix: R
    sql-migration-separator: __
    sql-migration-suffixes: .sql
    enabled: true
    user: ${FLYWAY_USER:postgres}
    password: ${FLYWAY_PASSWORD:Qwerty12345}
    url: jdbc:postgresql://localhost:5432/relay-service
    baseline-on-migrate: true
  threads:
    virtual:
      enabled: true
logging:
  file:
    name: logs/relay-service.log
  level:
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.orm.jdbc.bind: TRACE

management:
  endpoints:
    web:
      exposure:
        include: metrics, prometheus, health, info, flyway
  endpoint:
    health:
      show-components: always
      show-details: always
      probes:
        enabled: true
      access: read_only
    info:
      access: read_only
    metrics:
      access: read_only
    prometheus:
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true
